.anno-tray {
    width: 420px;
    overflow-y: auto;
    height: 100vh;
    background-color: gray;
}

.reply, .reply-inp {
    margin: 5px 10px 5px 10px;
    padding: 5px;
    border-radius: 0px 4px 4px 0px;
    background-color: white;
    border-left: 10px solid black;
}

.reply-cont {
    margin-left: 10px;
    padding-left: 10px;
    background-color: gray;
}

.counter {
    background-color: whitesmoke;
    height: 30px;
    border-radius: 0px 0 4px 4px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    border-top: 0.5px solid black;
    padding-top: 2px;
    text-align: center;
}

.thread-cont {
    transition: height 900ms cubic-bezier(.05, .4, .25, .95);
    height: 150px;
}

.anno-thread {
    background-color: whitesmoke;
    height: 110px;
    overflow: hidden;
    border-radius: 4px 4px 0px 0px;
    margin: 10px;
    padding: 10px;
    margin-bottom: 0px;
}

.anno-thread > p {
    margin: 0;
}

.anno-button {
    top: calc(50vh - 75px);
    right: 420px;
    width: 30px;
    position: absolute;
    height: 150px;
    background-color: black;
    border-radius: 5px 0 0 5px;
}

.anno {
    top: 0;
    z-index: 99;
    right: -420px;
    position: fixed;
    transition: transform 900ms cubic-bezier(.05, .4, .25, .95);
}