annotation-thread {
    --highlight-color: #FAFA44;
    --border-color: rgba(38, 41, 50, 1.0);
    --ui-element-color: rgba(217, 214, 205, 1.0);
    --tray-color: rgba(128, 128, 128, 0.3);
    --thread-color: rgba(150, 150, 150, 0.6);
}

.anno-tray {
    width: 420px;
    height: 100vh;
    background-color: var(--tray-color);
    backdrop-filter: blur(5px);
    border-left: 1px solid var(--border-color);
    box-sizing: border-box;
}

.anno-tray, .thread-text {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow: auto;
}

.anno-tray::-webkit-scrollbar, .thread-text::-webkit-scrollbar {
    display: none;
}

.anno-threads {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    height: auto;
    top: 50px;
    padding-top: 10px;
}

.thread-info {
    display: flex;
    flex-direction: row;
    font-weight: bolder;
    font-size: larger;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid var(--border-color);
}

.thread-type {
    width: 100px;
    text-align: right;
}

.thread-text {
    padding: 10px;
    height: 100px;
    font-style: italic;
}

.thread-username {
    width: 200px;
    text-align: left;
}

.thread-username::before {
    content: '@';
}

.thread-datetime {
    display: flex;
    justify-content: right;
    align-items: right;
    padding: 10px;
    font-size: x-small;
}

.thread-comment {
    min-height: 20px;
    padding: 10px;
}

.thread-comment::before {
    content: "- ";
}

.thread {
    background-color: var(--thread-color);
    min-height: 150px;
    width: 380px;
    margin: 10px;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid var(--border-color);
}

.title {
    display: flex;
    height: 100%;
    width: 80%;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.top-nav {
    position: sticky;
    z-index: 1;
    top: 0;
    background-color:  var(--ui-element-color);
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid var(--border-color);
}

.anno-side-tray {
    position: absolute;
    display: flex;
    top: 0;
	right: 420px;
    width: 30px;
    height: 300px;
    overflow: hidden;
    background-color: transparent;
    border-bottom-left-radius: 30px;
    transition: width 600ms cubic-bezier(.05, .4, .25, .95), height 600ms cubic-bezier(.05, .4, .25, .95);
    justify-content: right;
}

.anno-color {
    position: absolute;
    left: 90px;
    top: 104px;
    height: 80px;
}

.anno-button, .anno-color-button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 30px;
    background-color: var(--ui-element-color);
    transition: transform 600ms cubic-bezier(.05, .4, .25, .95);
}

.anno-color-button {
    height: 31px;
    top: 169px;
    font-weight: bolder;
    border: 1px solid var(--border-color);
    border-right: none;
}

.anno-button {
    top: 200px;
    height: 100px;
	cursor: pointer;
    color: black;
	font-size: 1.4em;
    border-bottom-left-radius: 30px;
    border-left: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
}

.anno {
    top: 0;
    z-index: 99;
    right: -420px;
    position: fixed;
    transition: transform 900ms cubic-bezier(.05, .4, .25, .95);
}

.annotation-highlight {
    background: var(--highlight-color);
    cursor: pointer;
    transition: filter 0.1s ease-out;
}

.hovered, .thread:hover, .annotation-highlight:hover {
    filter: brightness(85%);
}

.annotation-highlight:hover {
    padding: 2px;
    margin: 0 -2px;
}

.anno-tooltip {
    display: flex;
    position: absolute;
    background-color: rgba(217, 214, 205, 1.0);
    border: 1px solid rgba(38, 41, 50, 1.0);
    border-radius: 2px;
    z-index: 2;
}

.tooltip-tweet, .tooltip-highlight {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 30px;
    height: 30px;
    transition: background-color 0.1s ease-out;
}

.tooltip-tweet {
    border-right: 1px solid rgba(38, 41, 50, 1.0);
}

.icon-tweet, .icon-highlight {
    width: 25px;
    height: 25px;
}

.icon-tweet {
    background-image: url(assets/twitterbird.svg);
}

.icon-highlight {
    background-image: url(assets/highlighter.svg);
}

.tooltip-tweet:hover, .tooltip-highlight:hover {
    background-color: rgba(150, 150, 150, 0.6);
}